body {
  margin:0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Colors */
  --color-text: #000;
  --color-bg-main: #fff;
  --color-menu-item: #fff;
  --color-menu-item-hover: #e0f3ca;
  --color-bg-menu: #cbf3ee;
  --color-bg-facts: #000;
  --color-text-facts: #fff;
  --color-bg-img: #000;
  --color-bg-1: #00a9e0;
  --color-bg-1-hover: #0083ad;
  --color-bg-2: #f1f1f1;
  --color-nav: #ddd;
  --color-nav-hover: #000;
  --color-link: #000;
  --color-link-hover: #333;
}
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}
a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  &:hover, &:focus {
    color: var(--color-link-hover);
    outline: none;
  }
}
button {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}
.sidebar{
  position: absolute;
  width:1em;
  left:0;
  top:50%;
  padding: 0 3em;
  z-index: 1;
  .icon{
    width:1.5em;
    height:1.5em;
    padding:0.5em 0;
    fill: #fff;
  }
}
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}
.cover-image{
  width:100%;
  height:100%;
  background-size: cover;
  position: absolute;
  top: 0;
}
.title {
  text-transform: lowercase;
  font-size: 1.35rem;
  margin: 0;
}